<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img width="300px" height="300px"  src="https://image.flaticon.com/icons/svg/201/201565.svg"/>
        <button on-click="accesaCliente" class="col-lg-4 col-xs-12">Accesar</button>
        <input type="password" placeholder="[[prop3]]" value="{{prop1::input}}"/>
        <table class="table-striped col-lg-12 col-xs-12">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>[[prop1]]</td>
              <td>Fuertes</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Selena</td>
              <td>Mora</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Login extends Polymer.Element {
      static get is() { return 'login'; }
      static get properties() {
        return {
          prop1: {
            type: String//,
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value:  "pass"
          }
        };
      }
      accesaCliente(){
        var request = new XMLHttpRequest();
        request.open("GET","http://localhost:3002/login", false);
        request.send();
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
      }

    }

    window.customElements.define(Login.is, Login);
  </script>
</dom-module>
